<template>
  <div>
    <img alt="Vue logo" src="../assets/logo.png" />
    <p>The counter is:</p>
    <p data-testid="counter-val">{{counter}}</p>
    <button data-testid="increment-btn" @click="increment">increment</button>
    <button data-testid="decrement-btn" @click="decrement">decrement</button>
    <p v-if="isTesting">Testmode</p>
  </div>
</template>

<script>
export default {
  name: 'Counter',
  data() {
    return {
      counter: 0,
    };
  },
  computed: {
    isTesting() {
      return process.env.VUE_APP_TESTING;
    },
  },
  methods: {
    increment() {
      this.counter += 1;
    },
    decrement() {
      this.counter -= 1;
    },
  },
};
</script>
